.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.about-content{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 80%;
}

.about-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.75);
    border-radius: 15px;
    padding: 2em;
}

.about-text h2{
    margin: 0;
    font-size: 6em;
}
   
.about-text p{
    line-height: 1.4em;
}

.about-image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 100%;
    transition: 0.2s;
}

.about-image img:hover{
    cursor: pointer;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1024px) {
    .about-content{
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-text{
        flex: auto;
        justify-content: start;
        overflow-y: auto;
        padding: 1em;
    }
    .about-text h2{
        width: 100%;
        text-align: center;
        margin: 0.5em 0 0.5em 0;
        font-size: 4em;
    }
    .about-text p{
        margin: 0;
    }
    .about-image{
        display: none;
    }
}