.housing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.housing-container h2{
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.housing-options{
    display: flex;
    justify-content: center;
    width: 100%;
}

.housing-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.housing-option h3{
    text-align: center;
}

.housing-option img{
    width: 600px;
}