.housing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* .housing-container h2{
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
} */

.housing-options{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
}

.housing-options a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.housing-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.housing-option:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.housing-option:active{
    transform: scale(1);
}

.housing-option h3{
    text-align: center;
}

.housing-option img{
    width: 80%;
}

@media screen and (max-width: 768px){
    .housing-options{
        height: 80%;
        flex-direction: column;
        align-items: center;
    }
    .housing-container h2{
        font-size: 2em;
        text-align: center;
    }
    .housing-options a{
        width: 80%;
    }
}