.tent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.tent-content{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.tent-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.75);
    border-radius: 15px;
    padding: 2em;
}

.tent-text h2{
    margin: 0;
    font-size: 6em;
}

.tent-text p{
    line-height: 1.4em;
}

.tent-image-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.tent-image{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1em;
}

.tent-image img{
    width: 100%;
    transition: 0.2s;
    mix-blend-mode: overlay;
    border-radius: 15px;
}

.tent-image img:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.image-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.image-arrow p{
    margin: 0.5em;
}

.image-arrow span{
    animation: arrowUpAndDown 1s infinite;
}

@keyframes arrowUpAndDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .tent-content{
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tent-text{
        flex: auto;
        justify-content: flex-start;
        overflow-y: auto;
        padding: 1em;
    }
    .tent-text h2{
        width: 100%;
        text-align: center;
        margin: 0.5em 0 0.5em 0;
        font-size: 4em;
    }
    .tent-text p{
        margin: 0;
    }
}