.header-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-container h1{
    font-size: 5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px){
    .header-container h1{
        font-size: 4em;
    }
}