a{
    text-decoration: none;
    color: black;
}



.navbar-container{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50vh;
    padding-bottom: 5em;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar a{
    padding: 10px 25px 10px 25px;
}

.navbar a:not(:last-child){
    border-right: 2px solid black;
}

.navbar h3{
    margin: 0;
    font-weight: 400;
    transition: 0.2s;
}

.navbar h3:hover{
    padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 768px){
    .navbar-container{
        padding-bottom: 2em;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar a:not(:last-child){
        border-right: none;
    }
}